@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font: 15px "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", "メイリオ", "Meiryo", arial, Osaka, Sans-Serif;
    color: #313131;
    line-height: 1.8;
    position: relative;
    font-weight: 500;
}

.mincho {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

a {
    text-decoration: none;
    color: #313131;
    transition: color .3s;
}

a:hover {
    color: #ca6461;
    text-decoration: none;
}

a:active,
a:focus {
    outline: 0;
}

a:hover img {
    opacity: 0.9;
    filter: alpha(opacity=90);
    -ms-filter: “alpha(opacity=90)”;
}

img {
    border: 0;
    vertical-align: bottom;
    height: auto;
}

ul,
li {
    list-style: none;
}

.clear {
    clear: both;
}

.center,
.pccenter {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.block {
    display: block;
}

.mgt-10 {
    margin-top: -10px !important;
}

.mgt0 {
    margin-top: 0 !important;
}

.mgt10 {
    margin-top: 10px !important;
}

.mgt20 {
    margin-top: 20px !important;
}

.mgt25 {
    margin-top: 60px !important;
}

.mgt30 {
    margin-top: 30px !important;
}

.mgt40 {
    margin-top: 40px !important;
}

.mgt50 {
    margin-top: 50px !important;
}

.mgt60 {
    margin-top: 60px !important;
}

.mgt65 {
    margin-top: 65px !important;
}

.mgt80 {
    margin-top: 80px !important;
}

.mgt100,
.pcmgt100 {
    margin-top: 100px !important;
}

.mgt120 {
    margin-top: 120px !important;
}

.mgbt30 {
    margin: 40px 0 30px !important;
}

.mgb0 {
    margin-bottom: 0 !important;
}

.mgb50 {
    margin-bottom: 50px !important;
}

.fs12 {
    font-size: 12px !important;
}

.fs15 {
    font-size: 15px !important;
}

.ft15 {
    font-weight: 500;
    font-size: 15px !important;
}

.fs16 {
    font-size: 16px !important;
}

.fs17 {
    font-size: 17px !important;
}

.mgl7 {
    margin-left: 7% !important;
}

.red {
    color: #9f000a !important;
}

.red.bold {
    font-size: 17px;
}

.bold {
    font-weight: bold !important;
}

.overflow {
    overflow: hidden;
}

.gold {
    color: #8f6624;
    font-weight: bold;
    font-size: 17px;
}

.pink {
    color: #ca6461;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.imgleft {
    float: left;
    margin-right: 20px;
}

.imgright {
    float: right;
    margin-left: 20px;
}

.sp {
    display: none !important;
}

a,
.CartButton input {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.link_text a {
    width: 320px;
    display: block;
    margin: 30px auto;
    padding: 10px 0 8px;
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
}

.hoveranime {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.btn-text {
    position: relative;
    z-index: 2;
}

.hoveranime:hover .btn-text {
    transition: all 0.5s;
}

.hoveranime .btn-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all 0.5s;
}

.hoveranime:hover .btn-child {
    width: 100%;
    transition: all 0.5s;
}

.link_text a.pink {
    background: #ca6461;
    border: 1px solid #ca6461;
    color: #fff;
}

.pink:hover .btn-text {
    color: #ca6461;
}

.pink .btn-child {
    background-color: #fff;
}

.link_text a.white {
    background: #fff;
    border: 1px solid #ca6461;
    color: #ca6461;
}

.white:hover .btn-text {
    color: #fff;
}

.white .btn-child {
    background-color: #ca6461;
}

.link_text a.brown {
    background: #fff;
    border: 1px solid #a9926e;
    color: #806841;
}

.simplelink {
    font-size: 17px;
    border-bottom: 1px solid #ca6461;
}

.simplelink:hover {
    color: #e3dddd;
    border-bottom: 1px solid #e3dddd;
}

.brown:hover .btn-text {
    color: #fff;
}

.brown .btn-child {
    background-color: #a9926e;
}

.headbar {
    background: #f8f6f4;
    height: 29px;
}

.headbar .inner {
    width: 92.5%;
    max-width: 1276px;
    margin: auto;
    position: relative;
}

.headbar ul {
    position: absolute;
    right: 0;
    font-size: 11px;
    padding: 5px 0 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.headbar li {
    position: relative;
    text-align: center;
    padding: 0 15px;
}

.headbar li:last-child {
    padding: 0;
}

.headbar li:last-child a {
    background: #ca6461;
    padding: 8px 20px;
    color: #fff;
    border: 1px solid #ca6461;
}

.headbar li:last-child a:hover {
    background: #fff;
    color: #ca6461;
    border: 1px solid #ca6461;
}

.headbar ul li:after {
    position: absolute;
    content: "";
    border-right: 1px solid #717171;
    width: 1px;
    height: 12px;
    top: 4px;
    right: 0;
}

.headbar ul li:nth-last-child(2):after,
.headbar ul li:last-child:after {
    border-right: none;
}

header {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
    background: #fff;
    z-index: 998;
    position: relative;
    height: 141px;
}

#headinner {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
    background: #fff;
    z-index: 998;
    position: relative;
    height: 141px;
}

header#headinner {
    width: 90% !important;
    max-width: 1250px !important;
    margin: 0 auto !important;
}

#headinner nav {
    border-bottom: 1px solid #b4b4b4;
}

header h1 {
    font-weight: normal;
    font-size: 11px;
    position: absolute;
    left: 8px;
    top: -6px;
    color: #565656;
}

header h2 {
    position: absolute;
    left: 0px;
    top: 17px;
    color: #565656;
    width: 215px;
}

header h2 span {
    font-size: 10px;
    font-weight: normal;
    display: block;
    color: #a27e38;
    margin-top: 2px;
    /* -10pxから変更190823平木	*/
    margin-left: 3px;
}

header h2 img {
    width: 100%;
}

.head-txt {
    color: #ab1c25;
    font-size: 12px;
    line-height: 1.6;
    font-weight: bold;
    position: absolute;
    right: 287px;
    top: 23px;
}

.head-tel {
    width: 266px;
    position: absolute;
    right: 0;
    top: 0px;
}

.head-tel img {
    width: 100%;
}

header nav {
    position: relative;
    top: 105px;
}

header nav ul {
    overflow: hidden;
    margin: 10px auto 5px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    font-size: 16px;
    text-align: center;
    /* 	padding:0 28px; */
    letter-spacing: 2px;
}

header nav ul li a {
    display: block;
    transition: color .3s;
}

header nav ul li a:hover {
    color: #a27e38;
}

@media screen and (min-width:1145px) and (max-width:1276px) {
    /* 	header nav ul li { padding:0 20px;} */
}

@media screen and (min-width:964px) and (max-width:1144px) {
    header nav ul li {
        /* 	 padding:0 15px; */
        font-size: 14px;
    }
}

@media screen and (max-width:963px) {
    .headbar .inner {
        width: 100%;
    }

    header {
        width: 97%;
    }

    header nav ul li {
        /* 		padding:0 10px; */
        font-size: 13px;
    }

    .head-txt {
        display: none;
    }
}

footer {
    border-top: 3px double #b8a789;
    background: #f5f2ec;
    position: relative;
    overflow: hidden;
    padding-top: 10px;
}

footer.cartP {
    padding-top: 0;
}

footer.cartP .subPfootunder {
    margin-top: 0;
}

footer .inner {
    width: 96%;
    max-width: 1150px;
    margin: 0 auto;
}

.foot-iconnavi {
    float: right;
    overflow: hidden;
    padding-bottom: 1px;
}

.foot-iconnavi li {
    float: left;
    margin-left: 28px;
    font-size: 20px;
}

.foot-iconnavi li a {
    color: #9b8259;
}

.footnews {
    border-top: 1px solid #b8a789;
    padding-top: 40px;
}

.footnews .newsarea {
    width: 88%;
    max-width: 900px;
    margin: 0 auto;
}

.footnews h2 {
    font-size: 25px;
    color: #ca6461;
    letter-spacing: 1px;
    margin-bottom: 3px;
    font-weight: normal;
    text-align: center;
}

.footnews ul {
    padding: 10px 30px 8px;
    background: #fff;
    margin-bottom: 40px;
    height: 50px;
    border-top: 1px solid #7c776d;
    overflow-y: scroll;
    overflow-x: hidden;
}

.footnews ul li {
    margin-bottom: 5px;
    font-size: 14px;
    border-bottom: 1px dashed #c4c4c4;
}

.footnews ul li span {
    font-size: 12px;
    padding-right: 8px;
}

.footer-contents {
    width: 96%;
    max-width: 1150px;
    margin: 35px auto 15px;
    position: relative;
    height: 194px;
}

footer h1 {
    width: 215px;
    padding-top: 21px;
}

footer h1 img {
    width: 100%;
}

footer h1 span {
    font-size: 10px;
    font-weight: normal;
    display: block;
    color: #a27e38;
    margin-left: 3px;
}

.foot-add {
    margin-top: 10px;
    font-size: 14px;
}

.foottel {
    position: absolute;
    right: 0;
    top: 0;
    width: 278px;
}

.foottel img {
    width: 100%;
}

ul.footnavi {
    margin: 0px auto;
    overflow: hidden;
    position: absolute;
    left: 380px;
    bottom: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footnavi li {
    padding: 0 10px;
    font-size: 13px;
    margin-bottom: 7px;
}

.footlist {
    overflow: hidden;
    float: left;
    padding: 10px 0 8px;
}

.footlist li {
    font-size: 11px;
    float: left;
    position: relative;
    margin: 0 14px;
    text-align: center;
}

.footlist li:after {
    position: absolute;
    content: "";
    border-right: 1px solid #717171;
    height: 12px;
    top: 3px;
    right: -14px;
}

.footlist li:last-child:after {
    border-right: none;
}

.footlist li:first-child {
    margin-left: 0;
}

footer i {
    padding-left: 5px;
}

.border {
    border-top: 1px solid #b8a789;
}

.spfootnavi {
    display: none;
}

footer h2.footguide {
    color: #ca6461;
    font-size: 27px;
    letter-spacing: 2px;
    font-weight: normal;
    text-align: center;
    margin-top: 50px;
}

.footguidebox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.guidebox {
    width: 100%;
    padding: 0 2%;
    margin-top: 25px;
    font-size: 13px;
    text-align: justify;
    letter-spacing: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.guidebox h3 {
    font-weight: normal;
    color: #312c29;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #b6afa6;
    position: relative;
}

.guidebox h3 a {
    position: absolute;
    top: 5px;
    right: 15px;
    color: #77736f;
    font-size: 11px;
}

.guidebox h3 a:hover {
    color: #ca6461;
}

.guidebox h4 {
    position: relative;
    font-size: 14px;
    padding-left: 12px;
    margin-top: 10px;
    font-weight: normal;
}

.guidebox h4::after {
    position: absolute;
    top: 8px;
    left: 0px;
    content: '';
    width: 8px;
    height: 8px;
    background-color: #7b7670;
}

.guidebox h4 span {
    font-size: 13px;
    padding-left: 3px;
}

.guidebox img {
    margin-top: 7px;
}

img.conveni,
img.credit {
    width: 100%;
}

img.amazonpay {
    width: 46%;
    margin-left: 5%;
}

img.rakutenpay {
    width: 47%;
    margin-left: 3%;
}

img.delitime {
    width: 88%;
    margin: 35px 0 10px;
}

.guidebox ul.list {
    margin: 10px 0;
}

.guidebox ul.list li {
    list-style: disc;
    margin-left: 20px;
}

.subPfootunder {
    background: #eae1d1;
    margin-top: 60px;
    padding-top: 1px;
}

.copy {
    font-size: 12px;
    text-align: right;
    padding: 10px 0 8px;
}

@media screen and (max-width:1030px) {
    ul.footnavi {
        left: 245px;
    }

    ul.footnavi li {
        margin-bottom: 2px;
    }
}

@media screen and (max-width:990px) {
    .footguidebox {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .guidebox {
        width: 50%;
    }

    .guidebox:last-child {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .guidebox .guidesec {
        width: 100%;
        padding: 0 2%;
    }

    .guidebox .guidesec h3.mgt30 {
        margin-top: 0 !important;
    }

    .guidebox .guidesec:last-child {
        display: none;
    }
}

#page-top {
    position: fixed;
    bottom: 0px;
    right: 10px;
    z-index: 100;
    background: rgba(255, 255, 255, 0.79);
    border-radius: 50%;
    width: 27px;
    height: 18px;
    padding: 0px 4px 24px 13px;
}

#page-top a {
    color: #ca6461;
    display: block;
    font-size: 20px;
}

/* 共通パーツ */
.topcate {
    margin: 100px auto 28px;
    width: 96%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.topcate li {
    border: 1px solid #d6d6d6;
    padding: 6px 8px 20px 8px;
    margin-right: 22px;
    font-size: 11px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.topcate li:last-child {
    margin-right: 0;
}

.topcate li img {
    width: 100%;
}

.topcate li p.menu {
    font-size: 17px;
    position: relative;
    margin: 5px 0 20px;
}

.topcate li:first-child p.menu {
    color: #9f000a;
}

.topcate li:nth-child(2) p.menu {
    color: #006f83;
    font-size: 14px;
    margin-top: 7.5px;
    margin-bottom: 22px;
}

.topcate li:nth-child(3) p.menu {
    color: #8f6624;
}

.topcate li:last-child p.menu {
    color: #555555;
    font-size: 14px;
}

.menu:after {
    position: absolute;
    content: "";
    width: 40px;
    bottom: -6px;
    left: 0;
    right: 0;
    margin: auto;
}

.topcate li:first-child p.menu:after {
    border-bottom: 1px solid #9f000a;
}

.topcate li:nth-child(2) p.menu:after {
    border-bottom: 1px solid #006f83;
}

.topcate li:nth-child(3) p.menu:after {
    border-bottom: 1px solid #8f6624;
    bottom: -7px;
}

.topcate li:nth-child(4) p.menu:after {
    border-bottom: 1px solid #555555;
}

.topcate li:last-child p.menu:after {
    border-bottom: 1px solid #555555;
    bottom: -10px;
}

.ierulist {
    overflow: hidden;
    margin: 0px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    width: 96%;
}

.ierulist li {
    margin-right: 22px;
    border: 1px solid #c6c6c6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.ierulist li:last-child {
    margin-right: 0;
}

.ierulist li img {
    width: 100%;
    vertical-align: bottom;
}

.diet_bn {
    width: 54%;
    max-width: 678px;
    margin: 0px auto 40px;
}

.diet_bn li {
    margin-bottom: 13px;
}

.diet_bn img {
    width: 100%;
    border: 1px solid #d6d6d6;
    vertical-align: bottom;
}

@media screen and (min-width:951px) {

    .topcate li,
    .ierulist li {
        max-width: 269px;
    }
}

@media screen and (max-width:950px) {
    .topcate li {
        width: 43%;
        margin-bottom: 22px;
        padding: 6px 8px 10px 8px;
    }

    .ierulist li {
        width: 43%;
        margin-bottom: 16px;
        padding: 6px 8px 10px 8px;
        margin-right: 18px;
    }

    .topcate,
    .ierulist {
        margin: 80px auto;
        width: 96%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .topcate {
        margin-bottom: 0;
    }

    .ierulist {
        margin-top: 0 !important;
    }

    .topcate li:nth-child(2n),
    .ierulist li:nth-child(2n) {
        margin-right: 0;
    }

    .topcate li:nth-child(2) p.menu,
    .topcate li:nth-child(3) p.menu {
        font-size: 17px;
        margin-top: 5px;
    }

    .diet_bn {
        width: 83.9%;
        max-width: 83.9%;
        margin: 0 auto 22px;
    }
}

/* 2/19追記 */
.foot-timetable {
    font-size: 14px;
    line-height: 20px;
}

.foot-timetable th {
    display: block;
    text-align: center;
    font-weight: normal;
    margin-right: 10px;
}

#floating-menu #page-top {
    display: none;
}

.centerbox {
    width: 1030px;
}

.reviewarea {
    max-width: 930px;
    margin: 30px auto;
}

.reviewarea h2 {
    display: none;
}

table.userreview_list {
    width: 100%;
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 14px;
}

table.userreview_list tr td.userreview_date {
    font-size: 80%;
    text-align: right;
}

table.userreview_list tr td.userreview_user {
    font-size: 80%;
    text-align: left;
}

table.userreview_list img {
    vertical-align: middle;
}

.uservoicetitle {
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid #060606;
    margin-bottom: 15px;
}

.slidemenu02 {
    width: 300px;
    position: absolute;
    transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    background: #fff;
    border: 1px solid #ccc;
    z-index: 2;
    padding: 10px 15px 8px;
    margin-left: -205px;
    top: 33px;
}

#searchkeyplace {
    padding: 4px 5px 6px;
    width: 100%;
    font-size: 14px;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.search-text-box {
    padding: 10px 0 10px 8px;
    width: 100%;
    border: 1px solid #777;
    font-size: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.slidemenu02 .submit01 {
    background: #745b34;
    border: none;
    color: #fff;
    width: 150px;
    padding: 4px 0 2px;
    margin: 10px auto 0;
    font-size: 13px;
    cursor: pointer;
}

.userreview_date {
    display: none;
}