a {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    font-size: 20px;
}

h3 {
    font-size: 27px;
}

.main {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
}

.title {
    width: 98%;
    margin: 0 auto;
    font-size: 18pt;
    margin-bottom: 10px;
}